@font-face {
    font-family: 'doulosSIL';
    src: url('DoulosSIL-R.ttf');
}

body {
    background-color: powderblue;

    font-family: "doulosSIL", Times New Roman, serif;
}

br {
    display: block;
    margin-top: -5px;
}

h2 {
    padding: 2px;
    margin: 0px;
}


ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 8px 20px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #4CAF50;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}

.chkbox {
    display: none;
}

label input.chkbox:checked + .label-text {
    color: powderblue;
    font-weight: bold;
}

.button1 {
    background-color: #ffffff;
    color: #4f4e3e;
    border: outset 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
}

a:link, a:visited, a:active {
    text-decoration: none;
    color: #000000;
    border: none;
}

a:hover {
    color: #4f4e3e;
}
