@font-face {
    font-family: 'doulosSIL';
    src: url('DoulosSIL-R.ttf');
}

body {
    background-color: powderblue;

    font-family: "doulosSIL", Times New Roman, serif;
}

br {
    display: block;
    margin-top: -5px;
}

h2, h6 {
    padding: 2px;
    margin: 0px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #444444;
}

li {
    float: left;
    border-right: 1px solid #f0f0f0;
    margin: 10px;
    padding: 10px;
}

.box {
	display: none;
}

input[type='checkbox'] {
    width:30px;
    height:30px;
    background:white;
    border-radius:5px;
    border:2px solid #555;
}

.button1 {
    background-color: #ffffff;
    color: #4f4e3e;
    border: outset 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
}

a:link, a:visited, a:active {
    text-decoration: none;
    color: #000000;
    border: none;
}

a.link-text:hover {
    color: #444444;
}
